@import "~bootstrap/scss/bootstrap";
$color: #924aff;;
$color2: #a3a3a3 ;
$color3: #ffffff ;

body, html{
    background: $color;
}

.app-container {
    width: 100%;
    background: $color3;
}
.movieViewContainer{
    background: $color;
}

html {
    background-color: $color;
    font-size: 1.3rem;
}

.app-container {
    background-color: $color;
    color: $color2;
    color: $color3;
}

.btn.btn-primary {
    background-color: $color;

}
